<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload Video</h1>
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form> {% endcomment %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="timestamp">Timestamp (seconds, optional):</label>
        <input type="text" name="timestamp" id="timestamp">
        <button type="submit">Upload</button>
    </form>
    
</body>
</html>
